---
import { cms } from '@/utils/cms'
import { PageRange } from '@/components/pageRange'
import { Media } from '@/components/media'
import BaseLayout from '@/layouts/BaseLayout.astro'

const posts = await cms.find({ collection: 'posts', limit: 12, depth: 1 })
---

<BaseLayout>
    <div class='pt-24 pb-24'>
        <div class='container px-4 mx-auto mb-4'>
            <div class='max-w-none'>
                <h1>Blog</h1>
            </div>
        </div>
        <div class='container mx-auto px-4 mb-8'>
            <PageRange
                collection='posts'
                currentPage={posts.page}
                limit={12}
                totalDocs={posts.totalDocs}
            />
        </div>
        <div class='container mx-auto px-4 flex flex-wrap gap-4'>
            {
                posts.docs.map(post => {
                    return (
                        <a
                            href={`/blog/${post.slug}`}
                            class='w-full lg:w-[calc(33.333%_-_1rem)] rounded-lg overflow-hidden border border-neutral-200'
                        >
                            <div class='aspect-4/3 relative'>
                                <Media resource={post.heroImage} fill />
                            </div>
                            <div class='px-6 py-4'>
                                {(post.categories || []).map(category => {
                                    return (
                                        <div class='uppercase text-sm font-medium text-neutral-500'>
                                            {typeof category === 'string'
                                                ? category
                                                : category.name}
                                        </div>
                                    )
                                })}
                                <div class='mt-1'>
                                    <h4>{post.title}</h4>
                                </div>
                            </div>
                        </a>
                    )
                })
            }
        </div>
    </div>
</BaseLayout>
